<%- include('partials/header'); -%>

<h1>Home</h1>
    <% foundItems.forEach(function(post){ %>
        <form action="/delete" method="post">
            
            <h1><%=post.title%></h1> 
            <p><%=post.content.substring(0,50)+"..."%> <a href="/posts/<%= post._id %> ">Read More</a></p>
            <button class="btn btn-light" name='del' value="<%=post._id%>" type="submit">Remove post</button>
            
        </form>
            

 <%})%>
<%- include('partials/footer'); -%>
